name: Greetings

on: [pull_request_target, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: "Thank you for raising this issue. I am actively monitoring this repo and will try to resolve your issue as soon as possible. Thanks!"
        pr-message: "Hey there! A heartfelt thank you for making this important contribution. Thanks!"
